/* /css/root.css */
:root {
    /* --- КОЛЬОРИ (Палітра pin-guin, структура pin-map) --- */
    /*--color-main: rgb(103, 80, 164);*/
    --color-main: rgb(0, 57, 66);
    --color-on-main: #ffffff;

    --color-main-c: rgba(103, 80, 164, 0.1);
    --color-main-c: rgb(216, 236, 238);
    --color-on-main-c: rgb(103, 80, 164);

    --color-main-t-1: #6750a41a;
    --color-main-t-2: #6750a433;

    --color-main-t-1: rgb(216, 236, 238, 0.5);
    --color-main-t-2: rgb(216, 236, 238);


    --color-secondary: rgb(98, 0, 238);
    --color-on-secondary: #ffffff;

    --color-secondary-c: rgba(98, 0, 238, 0.1);
    --color-on-secondary-c: rgb(98, 0, 238);


    --color-tertiary: rgb(125, 82, 96);
    --color-on-tertiary: #ffffff;

    --color-tertiary-c: rgba(125, 82, 96, 0.1);
    --color-on-tertiary-c: rgb(125, 82, 96);


    --color-error: rgb(179, 38, 30);
    --color-on-error: #ffffff;

    --color-error-c: rgba(179, 38, 30, 0.1);
    --color-on-error-c: rgb(179, 38, 30);

    --color-warning: rgb(191, 64, 0);
    --color-on-warning: #ffffff;

    --color-warning-c: rgba(191, 64, 0, 0.1);
    --color-on-warning-c: rgb(191, 64, 0);


    --color-info: rgb(0, 98, 151);
    --color-on-info: #ffffff;

    --color-info-c: rgba(0, 98, 151, 0.1);
    --color-on-info-c: rgb(0, 98, 151);

    --color-surface: #f8f8fa;
    --color-on-surface: rgb(29, 27, 32);
    --color-on-surface-v: rgba(29, 27, 32, 0.65);


    --color-surface-c-lowest: #ffffff;
    --color-surface-c-low: #f2ecee;
    --color-surface-c: #e5e5e5;
    --color-surface-c-high: #d9d9d9;
    --color-surface-c-highest: #cecece;

    --color-outline: #e5e5e5;
    --color-outline-v: #d3d3d3;

    /* --- РОЗМІРИ ТА ВІДСТУПИ --- */
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 16px;
    --radius-full: 999px;

    --space-s: 12px;
    --space-m: 16px;
    --space-l: 24px;

    /* --- ТІНІ --- */
    --shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    --shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

    /* --- СТИЛІ ТЕКСТУ --- */
    --text-primary: #444746;
    --text-secondary: var(--color-on-surface-v);
    --text-disabled: rgba(29, 27, 32, 0.38);
    --text-hint: rgba(29, 27, 32, 0.6);
    --text-on-surface: var(--color-on-surface);
    --text-on-surface-variant: var(--color-on-surface-v);
    --text-color: var(--color-main);

    /* --- УНІФІКОВАНІ ЗМІННІ ПАНЕЛЕЙ --- */
    --panel-width-collapsed: 72px;
    --panel-width-expanded: 320px;

    --transition-speed: 0.2s;


    --affinity-main: #A8F276;
    --affinity-vector: #05CDE5;
    --affinity-pixel: #E380F9;
    --affinity-layout: #F88E78;
    --affinity-canvas: #7FA3FF;

}