/* /css/root.css */
:root {
    /* --- КОЛЬОРИ (Свіжа мінімалістична палітра) --- */
    --color-main: rgb(9, 63, 69);
    --color-on-main: #ffffff;

    --color-main-c: rgba(9, 63, 69, 0.08);
    --color-on-main-c: rgb(9, 63, 69);

    --color-main-t-1: rgba(9, 63, 69, 0.1);
    --color-main-t-2: rgba(9, 63, 69, 0.2);


    --color-secondary: rgb(9, 63, 69);
    --color-on-secondary: #ffffff;

    --color-secondary-c: rgba(9, 63, 69, 0.08);
    --color-on-secondary-c: rgb(9, 63, 69);


    --color-tertiary: rgb(39, 93, 99);
    --color-on-tertiary: #ffffff;

    --color-tertiary-c: rgba(39, 93, 99, 0.08);
    --color-on-tertiary-c: rgb(39, 93, 99);


    --color-error: rgb(239, 68, 68);
    --color-on-error: #ffffff;

    --color-error-c: rgba(239, 68, 68, 0.1);
    --color-on-error-c: rgb(239, 68, 68);

    --color-warning: rgb(245, 158, 11);
    --color-on-warning: #ffffff;

    --color-warning-c: rgba(245, 158, 11, 0.1);
    --color-on-warning-c: rgb(245, 158, 11);

    --color-success: rgb(16, 185, 129);
    --color-on-success: #ffffff;

    --color-success-c: rgba(16, 185, 129, 0.1);
    --color-on-success-c: rgb(16, 185, 129);

    --color-info: rgb(59, 130, 246);
    --color-on-info: #ffffff;

    --color-info-c: rgba(59, 130, 246, 0.1);
    --color-on-info-c: rgb(59, 130, 246);

    --color-surface: #fafafa;
    --color-on-surface: #171717;
    --color-on-surface-v: #737373;

    --color-background: #fafafa;

    --color-surface-c-low: #f5f5f5;
    --color-surface-c: #e5e5e5;
    --color-surface-c-high: #d4d4d4;

    --color-outline: #d4d4d4;
    --color-outline-v: #a3a3a3;

    /* --- РОЗМІРИ ТА ВІДСТУПИ --- */
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 16px;
    --radius-full: 999px;

    --space-s: 12px;
    --space-m: 16px;
    --space-l: 24px;

    /* --- ТІНІ --- */
    --shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    --shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

    /* --- СТИЛІ ТЕКСТУ --- */
    --text-primary: #171717;
    --text-secondary: var(--color-on-surface-v);
    --text-disabled: rgba(23, 23, 23, 0.38);
    --text-hint: rgba(23, 23, 23, 0.6);
    --text-on-surface: var(--color-on-surface);
    --text-on-surface-variant: var(--color-on-surface-v);
    --text-color: var(--color-main);

    /* --- УНІФІКОВАНІ ЗМІННІ ПАНЕЛЕЙ --- */
    --panel-width-collapsed: 72px;
    --panel-width-expanded: 320px;

    --transition-speed: 0.2s;


    --affinity-main: #86efac;
    --affinity-vector: #06b6d4;
    --affinity-pixel: #d946ef;
    --affinity-layout: #fb923c;
    --affinity-canvas: #60a5fa;

}