<div class="panel-content-fix">
    <div class="content-line panel">
        <span class="material-symbols-outlined">search</span>
        <input type="text" id="search-triger" placeholder="Пошук тригера...">
        <button data-clear-for="search-triger" class="btn-icon" style="visibility:hidden;pointer-events:none" aria-label="Очистити пошук">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>
</div>

<div id="triger-buttons-container" class="group u-p-8" style="flex-wrap:wrap">

</div>
