<div class="panel-content-fix">
    <div class="content-line panel">
        <span class="material-symbols-outlined">search</span>
        <input type="text" id="links-search-input" placeholder="Пошук виробника...">
        <button data-clear-for="links-search-input" class="btn-icon u-hidden" aria-label="Очистити пошук">
            <span class="material-symbols-outlined">close</span>
        </button>
        <div id="links-country-display" class="country-display"></div>
    </div>
</div>
<div class="panel-separator"></div>
<div class="panel-content-scroll">
</div>
