<div class="panel-content-fix">
    <div class="panel-box">
        <span class="material-symbols-outlined">search</span>
        <input type="text" id="links-search-input" placeholder="Пошук виробника...">
        <button class="btn-icon clear-search-btn u-hidden" aria-label="Очистити пошук">
            <span class="material-symbols-outlined">close</span>
        </button>
        <div id="links-country-display" class="country-display"></div>
    </div>
</div>
<div class="panel-separator"></div>
<div class="panel-content-scroll">
</div>

<div class="panel-content-footer">
    <button id="btn-add-brand-links" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">add</span>
        <span class="panel-item-text">Додати бренд</span>
    </button>
</div>