<!-- ІНСТРУМЕНТИ (SCROLLABLE) -->
<div class="panel-content-scroll">

    <button id="btn-import-aside" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">upload_file</span>
        <span class="panel-item-text">Імпортувати дані</span>
    </button>

    <button id="btn-mapping-wizard-aside" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">link</span>
        <span class="panel-item-text">Маппінг категорій</span>
    </button>
    <button id="btn-mapping-wizard-characteristics-aside" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">link</span>
        <span class="panel-item-text">Маппінг характеристик</span>
    </button>
    <button id="btn-mapping-wizard-options-aside" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">link</span>
        <span class="panel-item-text">Маппінг опцій</span>
    </button>
</div>

<!-- FAB SPEED DIAL -->
<div class="panel-content-footer">
    <div class="fab-menu" id="fab-mapper-aside">
        <button class="fab-menu-trigger primary">
            <span class="material-symbols-outlined">add</span>
        </button>
        <div class="fab-menu-items">
            <div class="fab-menu-item" id="btn-add-category-aside">
                <span class="fab-menu-item-label">Додати категорію</span>
                <button class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">square</span>
                </button>
            </div>
            <div class="fab-menu-item" id="btn-add-characteristic-aside">
                <span class="fab-menu-item-label">Додати характеристику</span>
                <button class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">change_history</span>
                </button>
            </div>
            <div class="fab-menu-item" id="btn-add-option-aside">
                <span class="fab-menu-item-label">Додати опцію</span>
                <button class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">circle</span>
                </button>
            </div>
            <div class="fab-menu-item" id="btn-add-mapper-marketplace">
                <span class="fab-menu-item-label">Додати маркетплейс</span>
                <button class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">hexagon</span>
                </button>
            </div>
        </div>
    </div>
</div>
