<!-- ФІЛЬТРИ (FIXED) -->
<div class="panel-content-fix">

    <div class="input-box">
        <span class="material-symbols-outlined">search</span>
        <input type="text" id="am-aside-search" placeholder="Пошук MP...">
    </div>

    <select id="am-aside-mp-filter" class="input-main">
        <option value="">Всі маркетплейси</option>
    </select>

</div>

<!-- MP СПИСОК (VIRTUAL SCROLL) -->
<div class="panel-content-scroll" virtual-scroll="48" id="am-aside-list"></div>

<!-- FAB -->
<div class="panel-content-footer">
    <div class="fab-menu" id="fab-am-aside">
        <button class="fab-menu-trigger primary">
            <span class="material-symbols-outlined">add</span>
        </button>
        <div class="fab-menu-items">
            <div class="fab-menu-item" id="btn-am-add-category">
                <span class="fab-menu-item-label">Додати категорію</span>
                <button class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">square</span>
                </button>
            </div>
            <div class="fab-menu-item" id="btn-am-add-characteristic">
                <span class="fab-menu-item-label">Додати характеристику</span>
                <button class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">change_history</span>
                </button>
            </div>
            <div class="fab-menu-item" id="btn-am-add-option">
                <span class="fab-menu-item-label">Додати опцію</span>
                <button class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">circle</span>
                </button>
            </div>
        </div>
    </div>
</div>
