<div class="panel-content-fix">
    <div class="content-line panel">
        <span class="material-symbols-outlined">search</span>
        <input type="text" id="search-triger" placeholder="Пошук тригера...">
        <button data-clear-for="search-triger" class="btn-icon u-hidden" aria-label="Очистити пошук">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>
</div>

<div class="panel-separator"></div>

<div id="triger-buttons-container" class="group" style="flex-wrap:wrap">

</div>

<div class="panel-content-footer">
    <button id="btn-add-keyword-seo" class="fab primary" data-tooltip="Додати ключове слово" data-tooltip-always>
        <span class="material-symbols-outlined">add</span>
    </button>
</div>