<div class="panel-fragment is-active" id="aside-keywords">

    <!-- (# ($!  %#) -->
    <div class="panel-content-fix">
        <div class="panel-box dropdown-wrapper">
            <span class="material-symbols-outlined panel-box-icon">search</span>
            <input type="text" id="search-keywords" class="input-main" placeholder=">HC: :;NG>28E A;V2...">
            <button id="clear-search-keywords" class="btn-icon u-hidden" aria-label="G8AB8B8 ?>HC:">
                <span class="material-symbols-outlined">close</span>
            </button>
            <button class="btn-icon" data-dropdown-trigger aria-label="$V;LB@8 ?>HC:C">
                <span class="material-symbols-outlined">filter_list</span>
            </button>

            <!-- Dropdown 7 G5:1>:A0<8 :>;>=>: 4;O ?>HC:C -->
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">>;>=:8 4;O ?>HC:C</div>
                <div id="search-columns-list-keywords" class="dropdown-body">
                    <!-- '5:1>:A8 4>40NBLAO 48=0<VG=> -->
                </div>
            </div>
        </div>
    </div>

    <div class="panel-separator"></div>

    <!-- $ &/ (SCROLLABLE) -->
    <div class="panel-content-scroll">

    </div>

    <div class="panel-separator"></div>

    <!-- FOOTER  . " ($! #) -->
    <div class="panel-content-footer">
        <button id="btn-add-keyword-aside" class="panel-item">
            <span class="material-symbols-outlined panel-item-icon">add</span>
            <span class="panel-item-text">>40B8 70?8A</span>
        </button>
    </div>

</div>
