<div class="panel-content-fix">

    <div id="result-card-html" class="content-line panel">
        <span class="material-symbols-outlined">code</span>
        <span class="panel-text result-status">Склад</span>
    </div>

    <div id="result-card-br" class="content-line panel">
        <span class="material-symbols-outlined">notes</span>
        <span class="panel-text result-status">1 порція</span>
    </div>

</div>

<div class="panel-separator"></div>

<div class="panel-content-scroll">

    <button id="add-input-btn" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">add</span>
        <span class="panel-item-text">Новий рядок</span>
    </button>

    <button id="add-empty-line-btn" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">rectangle</span>
        <span class="panel-item-text">Розділювач</span>
    </button>

    <button id="add-ingredients-btn" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">science</span>
        <span class="panel-item-text">Інгредієнти</span>
    </button>

    <div class="panel-separator"></div>

    <button id="add-warning-btn" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">warning</span>
        <span class="panel-item-text">Попередження</span>
    </button>

    <button id="add-composition-btn" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">call_split</span>
        <span class="panel-item-text">Різний склад</span>
    </button>

    <div class="panel-separator"></div>

    <div class="grid">
        <button id="add-nutrition-btn" class="panel-item col-2">
            <span class="material-symbols-outlined panel-item-icon">nutrition</span>
            <span class="panel-item-text">Харчова цінність</span>
        </button>

        <button id="add-vitamins-btn" class="panel-item col-2">
            <span class="material-symbols-outlined panel-item-icon">local_pharmacy</span>
            <span class="panel-item-text">Вітаміни</span>
        </button>

        <button id="add-aminos-btn" class="panel-item col-2">
            <span class="material-symbols-outlined panel-item-icon">pill</span>
            <span class="panel-item-text">Амінокислоти</span>
        </button>
    </div>

</div>

<div class="panel-content-footer">

    <button id="magic-btn" class="fab primary" data-modal-trigger="magic-modal" data-tooltip="Магія" data-tooltip-always>
        <span class="material-symbols-outlined">auto_fix_high</span>
    </button>
</div>