<div class="panel-content-fix">
    <div class="panel-box">
        <span class="material-symbols-outlined">search</span>
        <input type="text" id="search-triger" class="input-main" placeholder="Пошук тригера...">
        <button class="btn-icon clear-search-btn u-hidden" aria-label="Очистити пошук">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>
</div>

<div class="panel-separator"></div>

<div id="triger-buttons-container" class="chip-container">

</div>

<div class="panel-content-footer">
    <button class="panel-item" disabled>
        <span class="material-symbols-outlined panel-item-icon">auto_fix_high</span>
        <span class="panel-item-text">Магія</span>
    </button>
</div>