<div class="panel-content-fix">

    <div id="result-card-text-html" class="content-line panel dropdown-wrapper">
        <span class="material-symbols-outlined">code</span>
        <span class="panel-text result-status">Автоформат HTML</span>

        <div class="panel-item-action-wrapper">
            <button class="btn-icon" data-dropdown-trigger aria-label="Додаткові дії">
                <span class="material-symbols-outlined">more_vert</span>
            </button>
        </div>

        <div class="dropdown-menu">
            <button class="dropdown-item" data-modal-trigger="preview-modal-text" data-preview-target="html">
                Показати візуалізацію
            </button>
        </div>
    </div>
</div>

<div class="panel-separator"></div>

<div class="panel-content-scroll">

    <div id="result-card-text-br" class="panel-item dropdown-wrapper">
        <span class="material-symbols-outlined panel-item-icon">notes</span>
        <span class="panel-text result-status">br/ізація</span>

        <div class="panel-item-action-wrapper">
            <button class="btn-icon" data-dropdown-trigger aria-label="Додаткові дії">
                <span class="material-symbols-outlined">more_vert</span>
            </button>
        </div>

        <div class="dropdown-menu">
            <button class="dropdown-item" data-modal-trigger="preview-modal-text" data-preview-target="br">
                Показати візуалізацію
            </button>
        </div>
    </div>

    <div id="result-card-text-clean-tags" class="panel-item dropdown-wrapper">
        <span class="material-symbols-outlined panel-item-icon">format_clear</span>
        <span class="panel-text result-status">Без стилів (теги)</span>

        <div class="panel-item-action-wrapper">
            <button class="btn-icon" data-dropdown-trigger aria-label="Додаткові дії">
                <span class="material-symbols-outlined">more_vert</span>
            </button>
        </div>

        <div class="dropdown-menu">
            <button class="dropdown-item" data-modal-trigger="preview-modal-text" data-preview-target="keep-tags">
                Показати візуалізацію
            </button>
        </div>
    </div>

    <div id="result-card-text-clean" class="panel-item dropdown-wrapper">
        <span class="material-symbols-outlined panel-item-icon">clear_all</span>
        <span class="panel-text result-status">Повністю без коду</span>

        <div class="panel-item-action-wrapper">
            <button class="btn-icon" data-dropdown-trigger aria-label="Додаткові дії">
                <span class="material-symbols-outlined">more_vert</span>
            </button>
        </div>

        <div class="dropdown-menu">
            <button class="dropdown-item" data-modal-trigger="preview-modal-text" data-preview-target="clean">
                Показати візуалізацію
            </button>
        </div>
    </div>

<div class="panel-separator"></div>

    <div class="panel-content-fix right-hidden">
        <div class="panel-item-title">
            <span>Знайти та замінити</span>
        </div>
        <div class="form-group">
            <input type="text" id="gte-find-input" class="input-main" placeholder="Що знайти...">
        </div>
        <div class="form-group">
            <input type="text" id="gte-replace-input" class="input-main" placeholder="На що замінити...">
        </div>
        <button id="gte-replace-all-btn" class="panel-item">
            <span class="panel-item-text">Замінити все</span>
        </button>
    </div>

</div>

<div class="panel-content-footer">

    <button id="btn-add-banned-word" class="panel-item">
        <span class="material-symbols-outlined panel-item-icon">add</span>
        <span class="panel-item-text">Додати заборонене слово</span>
    </button>


    <a href="https://gemini.google.com/gem/1_NHId3H4LuGYzVGxuz5Fa_r0Mou5z0In?usp=sharing" target="_blank"
        class="panel-item">
        <span class="material-symbols-outlined">auto_fix_high</span>
        <span class="panel-item-text">Текст від Gemini</span>
    </a>
</div>
