<div class="panel-fragment is-active" id="aside-keywords">

    <!-- ПОШУК (ФІКСОВАНИЙ ЗВЕРХУ) -->
    <div class="panel-content-fix">
        <div class="panel-box">
            <span class="material-symbols-outlined panel-box-icon">search</span>
            <input type="text" id="search-keywords" placeholder="Пошук ключових слів...">
            <button id="clear-search-keywords" class="btn-icon u-hidden" aria-label="Очистити пошук">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
    </div>

    <div class="panel-separator"></div>

    <!-- ІНФОРМАЦІЯ (SCROLLABLE) -->
    <div class="panel-content-scroll">

    </div>

    <div class="panel-separator"></div>

    <!-- FOOTER З КНОПКОЮ ДОДАТИ (ФІКСОВАНИЙ ЗНИЗУ) -->
    <div class="panel-content-footer">
        <button id="btn-add-keyword-aside" class="panel-item">
            <span class="material-symbols-outlined panel-item-icon">add</span>
            <span class="panel-item-text">Додати ключове слово</span>
        </button>
    </div>

</div>
