<div class="panel-content-scroll">
</div>

<div class="panel-content-footer">
    <div class="fab-menu" id="fab-highlight-aside">
        <button class="fab-menu-trigger primary" aria-label="AI помічники">
            <span class="material-symbols-outlined">auto_awesome</span>
        </button>
        <div class="fab-menu-items">
            <a class="fab-menu-item" href="https://chatgpt.com/g/g-p-69f99dd6c9a48191a122d4904eb952d9/c/6a0eefc7-9634-83eb-b3af-47a977cdca9e" target="_blank" rel="noopener noreferrer">
                <span class="fab-menu-item-label">Робота з текстом</span>
                <span class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">article</span>
                </span>
            </a>
            <a class="fab-menu-item" href="https://chatgpt.com/share/6a351684-c9a0-83eb-9a20-a0fed338f95f" target="_blank" rel="noopener noreferrer">
                <span class="fab-menu-item-label">Таблиця складу</span>
                <span class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">table_chart</span>
                </span>
            </a>
            <a class="fab-menu-item" href="https://chatgpt.com/share/6a3517d8-28c8-83ed-b448-f68daddcf697" target="_blank" rel="noopener noreferrer">
                <span class="fab-menu-item-label">Переклад</span>
                <span class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">translate</span>
                </span>
            </a>
            <a class="fab-menu-item" href="https://chatgpt.com/share/6a3517f3-1848-83eb-aff2-7d9236317e12" target="_blank" rel="noopener noreferrer">
                <span class="fab-menu-item-label">Переклад SEO блоку</span>
                <span class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">travel_explore</span>
                </span>
            </a>
            <a class="fab-menu-item" href="https://chatgpt.com/share/6a351874-8b34-83eb-aa8b-ccc0e1b51ff0" target="_blank" rel="noopener noreferrer">
                <span class="fab-menu-item-label">Призначення товару</span>
                <span class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">ads_click</span>
                </span>
            </a>
            <a class="fab-menu-item" href="https://chatgpt.com/share/6a351849-6d4c-83eb-96ba-0004c961ab57" target="_blank" rel="noopener noreferrer">
                <span class="fab-menu-item-label">Категорії</span>
                <span class="fab-menu-item-btn">
                    <span class="material-symbols-outlined">category</span>
                </span>
            </a>
        </div>
    </div>
</div>
