<!-- ФІЛЬТРИ -->
<div class="panel-content-scroll">

    <div class="panel-section-title">
        <span>Фільтри</span>
    </div>

    <div class="group wrap">
        <button class="badge c-blue" data-filter="all">Всі</button>
        <button class="badge" data-filter="assigned_to_me">Мої</button>
        <button class="badge" data-filter="created_by_me">Створені</button>
    </div>

    <div class="panel-section-title">
        <span>Статус</span>
    </div>

    <div class="group wrap">
        <button class="badge c-yellow" data-status-filter="new">Нові</button>
        <button class="badge c-blue" data-status-filter="in_progress">В роботі</button>
        <button class="badge c-green" data-status-filter="done">Готові</button>
        <button class="badge c-red" data-status-filter="cancelled">Скасовано</button>
    </div>

</div>

<!-- FAB -->
<div class="panel-content-footer">
    <button id="btn-add-task-aside" class="fab primary" aria-label="Додати завдання">
        <span class="material-symbols-outlined">add</span>
    </button>
</div>
