<div class="section-header">
    <div class="section-name-block">
        <div class="section-name">
            <h2 class="display-l section-upper" id="check-tab-title-{{tabId}}">Перевірка</h2>
        </div>
    </div>

    <div class="group"></div>
</div>

<!-- Table Container -->
<div id="check-results-{{tabId}}" class="pseudo-table-container"
     pagination
     refresh>
    <div class="loading-state">
        <span class="material-symbols-outlined">pending</span>
        <p>Завантаження даних з Google Sheets</p>
    </div>
</div>