<div class="pseudo-table-row" data-word-id="{{local_id}}">
    <div class="pseudo-table-cell cell-actions">
        <button class="btn-icon" data-word-id="{{local_id}}" title="Редагувати">
            <span class="material-symbols-outlined">edit</span>
        </button>
    </div>
    <div class="pseudo-table-cell cell-id">
        <span class="badge">{{local_id}}</span>
    </div>
    <div class="pseudo-table-cell cell-main-name">
        <strong>{{name_uk}}</strong>
    </div>
    <div class="pseudo-table-cell">
        {{name_ru}}
    </div>
    <div class="pseudo-table-cell">
        {{banned_type}}
    </div>
    <div class="pseudo-table-cell cell-bool">
        {{checked_badge}}
    </div>
</div>
