.panel-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--color-background);
    width: var(--panel-width-expanded);
    flex-shrink: 0;
    transition: width var(--transition-speed) ease-in-out;
    display: flex;
    flex-direction: column;
}

.panel-right.is-collapsed {
    width: var(--panel-width-collapsed);
}

/* Приховуємо вміст, коли панель згорнута 
.panel-right.is-collapsed .panel-content {
    opacity: 0;
    pointer-events: none;
}*/

.panel-header {
    display: flex;
    justify-content: flex-end;
    padding: var(--space-s);
    flex-shrink: 0;
}

.panel-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0;
    transition: opacity var(--transition-speed) ease-in-out;
}

.panel-right.is-collapsed .btn-icon {
    transform: rotate(180deg);
}

.panel-right.is-collapsed .panel-content {
    align-items: center;
}

.panel-right.is-collapsed .panel-header {
    align-items: center;
    justify-content: flex-start;
}

.panel-right.is-collapsed .panel-item {
    width: 48px;
}

.panel-right.is-collapsed .panel-item .panel-item-text,
.panel-right.is-collapsed .panel-item .btn-icon,
.panel-right.is-collapsed .panel-item div,
.panel-right.is-collapsed .panel-box .panel-item-text,
.panel-right.is-collapsed .panel-box .panel-item-action-wrapper,
.panel-right.is-collapsed .panel-box input,
.panel-right.is-collapsed #triger-buttons-container {
    display: none;
}

.panel-right.is-collapsed .grid2,
.panel-right.is-collapsed .grid3 {
    grid-template-columns: 1fr;
}
