<div class="modal-overlay">
    <div class="modal-container modal-large">
        <!-- Header -->
        <div class="modal-header">
            <h2>Заборонені слова</h2>
            <div class="group">
                <div class="group">
                    <button class="btn-icon touch modal-close-btn" aria-label="Закрити" data-modal-close>
                        <div class="state-layer">
                            <span class="material-symbols-outlined">close</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="modal-body">
            <div class="section-header">
                <div class="section-name-block">
                    <div class="group u-mt-8">
                        <button class="btn-icon expand active" data-filter="all" data-tab-id="modal-banned-words">
                            <span class="material-symbols-outlined">list</span>
                            <span class="btn-icon-label">Всі</span>
                        </button>
                        <button class="btn-icon expand" data-filter="unchecked" data-tab-id="modal-banned-words">
                            <span class="material-symbols-outlined">radio_button_unchecked</span>
                            <span class="btn-icon-label">Не перевірені</span>
                        </button>
                        <button class="btn-icon expand" data-filter="checked" data-tab-id="modal-banned-words">
                            <span class="material-symbols-outlined">check_circle</span>
                            <span class="btn-icon-label">Перевірені</span>
                        </button>
                    </div>
                </div>

                <div class="group">
                    <button id="modal-add-banned-word" class="btn-icon" aria-label="Додати слово">
                        <span class="material-symbols-outlined">add</span>
                    </button>
                </div>
            </div>

            <!-- Table Container -->
            <div id="modal-banned-words-table-container" class="pseudo-table-container"
                 pagination refresh columns search="Пошук...">
                <!-- Заповнюється JavaScript -->
            </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer"></div>
    </div>
</div>
