<div class="modal-overlay">
    <div class="modal-container modal-small">
        <!-- Header -->
        <div class="modal-header">
            <h2 id="cascade-title">Видалити?</h2>
        </div>

        <!-- Body -->
        <div class="modal-body">
            <div class="modal-confirm-body">
                <!-- Avatar -->
                <div id="cascade-avatar-container"></div>

                <div class="speech-bubble body-s" id="cascade-message"></div>
            </div>

            <!-- Cascade details -->
            <ul class="confirm-details" id="cascade-details-list"></ul>
        </div>

        <!-- Footer -->
        <div class="modal-footer">
            <button class="btn-ghost" data-confirm-action="cancel" id="cascade-cancel-btn">Скасувати</button>
            <button class="danger" data-confirm-action="confirm" id="cascade-confirm-btn">Видалити</button>
        </div>
    </div>
</div>
