<div class="modal-title-source u-hidden">
    Магічний парсинг
</div>

<div class="modal-header-actions-source u-hidden">
</div>

<div class="modal-body-source">
    <p>Вставте скопійований текст складу продукту. Система автоматично спробує розділити назви та значення.</p>
    <textarea id="magic-text" class="modal-textarea" placeholder="Наприклад:
Білок 25 г
Жири 10 г (з них насичені 2 г)
..."></textarea>
    
    <div class="modal-footer">
         <button id="magic-apply-btn" class="btn primary">Застосувати</button>
    </div>
</div>