<div class="modal-overlay">
    <!-- Modal Sidebar Hints (універсальний блок для підказок) -->
    <aside class="modal-sidebar-hints" id="magic-hints-sidebar"></aside>

    <div class="modal-container modal-medium">
        <!-- Header -->
        <div class="modal-header">
            <h2 class="modal-title">Магічний парсинг</h2>
            <div class="group">
                <div class="group">
                    <button type="button" class="btn-icon" id="magic-apply-btn" aria-label="Застосувати">
                        <div class="state-layer">
                            <span class="material-symbols-outlined">auto_fix</span>
                        </div>
                    </button>
                    <button class="btn-icon modal-close-btn" aria-label="Закрити" data-modal-close>
                        <div class="state-layer">
                            <span class="material-symbols-outlined">close</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="modal-body">
            <p class="form-hint">Вставте скопійований текст складу продукту. Система автоматично спробує розділити назви та значення.</p>
            <textarea id="magic-text" class="modal-textarea" style="height: 50vh;" placeholder="Білок 25 г ..."></textarea>
        </div>

        <!-- Footer -->
        <div class="modal-footer"></div>
    </div>
</div>
