<div class="modal-overlay">
    <div class="modal-container modal-small">
        <!-- Header -->
        <div class="modal-header">
            <h2>Підтвердження</h2>
        </div>

        <!-- Body -->
        <div class="modal-body">
            <div class="modal-confirm-body">
                <!-- Avatar container -->
                <div id="modal-confirm-avatar-container"></div>

                <div class="speech-bubble body-s" id="modal-confirm-message-text"></div>
            </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer">
            <button class="btn-ghost" data-confirm-action="cancel" id="modal-confirm-cancel-btn">Скасувати</button>
            <button class="danger" data-confirm-action="confirm" id="modal-confirm-confirm-btn">Підтвердити</button>
        </div>
    </div>
</div>
