<div class="modal-overlay">
    <div class="modal-container modal-large">
        <!-- Header -->
        <div class="modal-header">
            <h2 class="modal-title">Попередній перегляд таблиці</h2>
            <div class="group">
                <div class="group">
                    <button class="btn-icon modal-close-btn" aria-label="Закрити" data-modal-close>
                        <div class="state-layer">
                            <span class="material-symbols-outlined">close</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="modal-body">
            <div id="preview-content-target-table" class="preview-content preview-table">
                <p>Генерація...</p>
            </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer"></div>
    </div>
</div>
