section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 8px 24px;
    overflow: hidden;
    padding-bottom: 72px;
    /*border: 2px dashed #ccc;*/
}

.content-main section {
    scroll-snap-align: start;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-name {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section-name h2 {
    font-weight: 600;
    color: var(--text-primary);
    text-transform: uppercase;
    font-size: 18px;
}

.section-header h3 {
    font-weight: 400;
    color: var(--text-secondary);
    font-size: 12px;
}

.section-content {
    margin: 16px 0;
    padding: 24px 16px;

    background-color: var(--color-surface-c-lowest);

    border: 1px solid var(--color-outline);
    border-radius: 12px;
}