/* /css/layout/layout-panel-left.css */
.panel-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--color-surface);
    /*background-color: var(--color-surface);*/
    z-index: 200;
    padding: var(--space-s);
    width: var(--panel-width-collapsed);
    flex-shrink: 0;
    transition: width var(--transition-speed) ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: visible; /* Дозволяє дочірнім елементам виходити за межі */
}

.panel-left:hover {
    width: var(--panel-width-expanded);
    box-shadow: var(--shadow-2);
}

.panel-left:not(:hover) .panel-item {
    width: 48px;
}

.panel-left:not(:hover) .panel-item .panel-item-text,
.panel-left:not(:hover) .panel-item .btn-icon,
.panel-left:not(:hover) .panel-item div {
    display: none;
}

.panel-left:not(:hover) .grid2 {
    grid-template-columns: 1fr; /* Одна колонка при згорнутій панелі */
}

.panel-left .dropdown-menu {
    top: -6px;
    left: 100%;
}