<div class="modal-title-source" style="display: none;">
    Закрити таб перевірки?
</div>

<div class="modal-header-actions-source" style="display: none;">
</div>

<div class="modal-body-source" style="display: none;">
    <p>Ви впевнені, що хочете закрити цей таб? Всі незбережені дані будуть втрачені.</p>

    <div class="modal-footer">
         <button class="btn" data-modal-close>Скасувати</button>
         <button id="confirm-close-tab-action" class="btn primary">Так, закрити</button>
    </div>
</div>
