.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
    gap: 4px;
    padding: 2px 8px;
    background-color: transparent;
    color: inherit;
    border-radius: 12px;
    cursor: default;
    transition: all 0.2s;
}

.badge:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-1);
}

.badge:active {
    transform: scale(0.98);
}
