.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
    gap: 4px;
    padding: 2px 8px;
    background-color: var(--color-surface-c-low);
    color: inherit;
    border-radius: 12px;
}

.badge:hover {
    filter: brightness(0.85);
}
