.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: var(--color-on-surface-v);
    background-color: currentColor;
}

.dot:hover {
    filter: brightness(0.85);
}
