<div class="shortcuts-tooltip" id="tooltip-highlight-shortcuts">
    <div class="tooltip-title">Гарячі клавіші</div>
    <div class="shortcuts-list">
        <div class="shortcut-item">
            <kbd>Ctrl</kbd> + <kbd>B</kbd>
            <span>Жирний текст</span>
        </div>
        <div class="shortcut-item">
            <kbd>Ctrl</kbd> + <kbd>I</kbd>
            <span>Курсив</span>
        </div>
        <div class="shortcut-item">
            <kbd>Ctrl</kbd> + <kbd>Z</kbd>
            <span>Скасувати</span>
        </div>
        <div class="shortcut-item">
            <kbd>Ctrl</kbd> + <kbd>Y</kbd>
            <span>Повторити</span>
        </div>
        <div class="shortcut-item">
            <kbd>Ctrl</kbd> + <kbd>C</kbd>
            <span>Копіювати HTML код</span>
        </div>
        <div class="shortcut-item">
            <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd>
            <span>Копіювати текст</span>
        </div>
        <div class="shortcut-item">
            <kbd>Enter</kbd>
            <span>Новий параграф</span>
        </div>
        <div class="shortcut-item">
            <kbd>Shift</kbd> + <kbd>Enter</kbd>
            <span>Новий рядок</span>
        </div>
    </div>
</div>
