<div class="panel-content-fix">
    <div class="panel-box">
        <span class="material-symbols-outlined">search</span>
        <input type="text" id="links-search-input" class="input-main" placeholder="Пошук виробника...">
        <button class="btn-icon clear-search-btn" aria-label="Очистити пошук" style="display: none;">
            <span class="material-symbols-outlined">close</span>
        </button>
        <div id="links-country-display" class="country-display"></div>
    </div>
</div>
<div class="panel-separator"></div>
<div class="panel-content-scroll">
</div>